<section id="registrationComponent">

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h1 class="knewave">
            Inscription
        </h1>

        <hr />

        <div class="form-field">
            <label for="email">
                <span class="label-icon"><i class="fa-solid fa-at"></i></span>
                <span class="label-text">Adresse e-mail *</span>
            </label>
            <input placeholder="Adresse e-mail *" type="email" name="email" formControlName="adresseMail" />
            <small class="form-helper">Renseignez votre adresse e-mail.</small>
        </div>

        <div class="form-field">
            <label for="password">
                <span class="label-icon"><i class="fa-solid fa-key"></i></span>
                <span class="label-text">Mot de passe *</span>
            </label>
            <input placeholder="Mot de passe *" type="password" name="password" formControlName="password" />
            <small class="form-helper">Choisissez un mot de passe.</small>
        </div>

        <hr />

        <div class="form-footer">
            <a routerLink="/home" class="btn btn-outline">Annuler</a>
            <button type="submit" class="btn">S'inscrire</button>
        </div>
    </form>

    <p class="alert" [ngClass]="{'show': success}">
        <small>
            Inscription réussie. 
            Vous allez être rediriger vers la page de connexion dans {{ seconds }} secondes.
        </small>
    </p>
</section>