<section id="profile-section">

    <div id="profile-section-header">
        <h1>{{ customer.adresseMail }}</h1>
    </div>

    <hr />

    <div id="profile-section-body">
        <details id="user-data">
            <summary>
                <div>
                    <h2>Données personnelles</h2>
                    <button (click)="onSubmit()" class="btn btn-rounded">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>

            </summary>

            <form [formGroup]="userDataForm">
                <table>
                    <tr>
                        <th>
                            <label for="adresseMail">E-mail</label>
                        </th>
                        <td>
                            <input type="email" name="adresseMail" id="adresseMail" placeholder="Adresse mail"
                                formControlName="adresseMail" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="username">Pseudo</label>
                        </th>
                        <td>
                            <input type="email" name="username" id="username" placeholder="Pseudo"
                                formControlName="username" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="firstName">Prénom</label>
                        </th>
                        <td>
                            <input type="text" name="firstName" id="firstName" placeholder="Prénom"
                                formControlName="firstName" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="lastName">Nom</label>
                        </th>
                        <td>
                            <input type="text" name="lastName" id="lastName" placeholder="Nom"
                                formControlName="lastName" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="companyName">Société</label>
                        </th>
                        <td>
                            <input type="text" name="companyName" id="companyName" placeholder="Société"
                                formControlName="companyName" />
                        </td>
                    </tr>

                    <tr>
                        <th><label for="postalCode">Code Postal</label></th>
                        <td>
                            <input type="text" name="postalCode" id="postalCode" placeholder="Code Postal"
                                formControlName="postalCode" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="city">Ville</label></th>
                        <td>
                            <input type="text" name="city" id="city" placeholder="Ville" formControlName="city" />
                        </td>
                    </tr>
                </table>
            </form>
        </details>

        <hr />

        <details id="order-history">
            <summary>
                <h2>Historique des commandes</h2>
            </summary>

            <details *ngFor="let order of getOrders()">
                <summary>
                    <h3>{{ order.createdAt | date : 'dd/MM/yy, hh:mm' }}</h3>
                </summary>
                <div class="content">
                    <table class="orders-table">
                        <tr class="header-row">
                            <th>Produit</th>
                            <th>Prix</th>
                        </tr>
                        <tr *ngFor="let product of order.products">
                            <th>{{ product.name }}</th>
                            <td>
                                <span class="opacity-0">=</span>&nbsp;{{ product.details.price }}€&nbsp;*&nbsp;1<br />
                                =&nbsp;{{ product.details.price }}€
                            </td>
                        </tr>
                        <tr class="footer-row">
                            <th>Total</th>
                            <td>
                                <strong>
                                    <span class="opacity-0">=</span>&nbsp;
                                    {{ getTotalByOrderId(order.id) | number:'0.2-2' }}€
                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </details>
        </details>

        <hr />
    </div>


    <div id="profile-section-footer">
        <button class="btn btn-link" type="button" (click)="logout()">Deconnexion</button>
    </div>

</section>