<section id="profile-section">

    <div id="profile-section-header">
        <h1>{{ currentUser.username }}</h1>
    </div>

    <hr />

    <div id="profile-section-body">
        <details>
            <summary>
                <h2>Commandes</h2>
            </summary>

            <details *ngFor="let order of getOrders()">
                <summary>
                    <h3>{{ order.createdAt | date : 'dd/MM/yy, hh:mm' }}</h3>
                </summary>
                <div class="content">
                    <table class="orders-table">
                        <tr class="header-row">
                            <th>Produit</th>
                            <th>Prix</th>
                        </tr>
                        <tr *ngFor="let product of order.products">
                            <th>{{ product.name }}</th>
                            <td>
                                <span class="opacity-0">=</span>&nbsp;{{ product.details.price }}€&nbsp;*&nbsp;1<br />
                                =&nbsp;{{ product.details.price }}€
                            </td>
                        </tr>
                        <tr class="footer-row">
                            <th>Total</th>
                            <td>
                                <strong>
                                    <span class="opacity-0">=</span>&nbsp;
                                    {{ getTotalByOrderId(order.id) | number:'0.2-2' }}€
                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </details>
        </details>
    </div>

    <hr />

    <div id="profile-section-footer">
        <button class="btn btn-link" type="button" (click)="logout()">Deconnexion</button>
    </div>

</section>